@import "tailwindcss";

@theme {
    --color-dark: #2c363f;
    --color-light: #f2f5ea;

    --color-red: #93748a;
    --color-blue: #6d889f;
    --color-grey: #d6dbd2;
}

html, body, #root {
    height: 100%;
}
