@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@theme {
    --color-dark: #2c363f;
    --color-light: #f2f5ea;

    --color-red: #93748a;
    --color-blue: #6d889f;
    --color-grey: #d6dbd2;

    --font-sans: "Balsamiq Sans", sans-serif;
}
